@import 'antd/dist/antd.css';


.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(20, 23, 236),
    rgb(216, 216, 240)
  );
  display: grid;
  place-items: center;
}
